h1{
	font-family: arial black;
	font-size: 55px;
	background-color: yellow;
}
h2{
	font-family: Arial;
	color:black;
	background-color:yellow;
}

button{
border-radius: 28px;
font-family: Arial;
  font-size: 30px;
  padding: 20px;
 background-color:0000;
 font-color: white;
}
body{
    background:url("img/fondo11.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
 
}